*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.base{
    width: 100%;
    min-height: 100vh;
    
}

.navbar{
    height: 100px;
    background-color: aquamarine;
    padding: 20px;



    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar h1{
    font-size: 3vw;
}

.navItems a{
    font-size: 1vw;
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
}

.navItems button{
padding: 0.5vh 1vw;

}

#icons{
    display: none;
}

/* .navItems{
    display: block;
} */


@media(max-width:500px){

     #icons{
        display: block;
    }


    .navItems{
        display: none;
    }




}